.button-order {
  display: flex;
  justify-content: center;

  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    background-color: #1820EF;
    border-radius: 50px;
    padding: 20px;
    width: 225px;
    border: none;

    cursor: pointer;

    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 1.78px;
    line-height: 21px;
    font-weight: 800;

    .arrow-button {
      color: #FFC024;
      font-size: 25px;
    }
  }

  button:disabled {
    background-color: #C5C5C5;
    cursor: not-allowed;

    .arrow-button {
      color: #FFFFFF;
    }
  }
}