div#main {
  text-align: center;

  .form-order {
    padding: 100px;

    h1 {
      font-weight: 900;
      font-size: 32px;
      line-height: 48px;
    }

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    .form-options {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      align-content: center;

      margin: 30px 30px 80px;

      .legend-slider {
        display: none;
      }
    }
  
    .form-options input[type="radio"] {
      opacity: 0;
      position: fixed;
      width: 0;
    }

    .form-options label {
      display: inline-block;
      padding: 40px 20px;
      background: #FAFAED;
      box-shadow: 0px 4px 12px rgba(224, 219, 191, 0.6);
      border-radius: 11px;

      cursor: pointer;

      .option-label {
        width: 320px;

        .option-label-icon {
          margin-bottom: 10px;
        }

        .img-active {
          display: none;
        }

        .option-label-name {
          font-size: 20px;
          font-weight: 900;
          line-height: 24px;
          color: #1820EF;

          margin-bottom: 10px;
        }

        .option-label-description {
          font-size: 14px;
          line-height: 16px;
          color: #000000;

          margin-bottom: 25px;
        }

        .option-label-value {
          font-size: 20px;
          font-weight: 900;
          line-height: 24px;
          color: #FF4E42;
        }
      }
    }

    .form-options label:hover,
    .form-options input[type="radio"]:checked + label,
    .form-options input[type="radio"]:focus + label {
      background: #1820EF;

      .option-label {
        .img-inactive {
          display: none;
        }

        .img-active {
          display: inline;
        }

        .option-label-name {
          color: #FFFFFF;
        }

        .option-label-description {
          color: #FFFFFF;
        }

        .option-label-value {
          color: #FFC024;
        }
      }
    }
  }
}


@media (max-width: 780px) {
  div#main {
    .form-order {
      padding: 30px;

      .form-options label {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 999px) {
  div#main {
    .form-order {
      .form-options {
        flex-direction: column;
        margin: 30px;
        
        .carousel {
          margin: 0 auto;
          overflow: hidden;
          text-align: center;

          .options-slides {
            width: 400px;
            display: flex;
            overflow-x: scroll;
            scrollbar-width: none;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
          }
          
          .options-slides::-webkit-scrollbar {
            display: none;
          }
          
          .slides-item {
            align-items: center;
            border-radius: 10px;
            display: flex;
            flex-shrink: 0;
            font-size: 100px;
            position: relative;
            scroll-snap-align: start;
            transform: scale(1);
            transform-origin: center center;
            transition: transform .5s;
            width: auto;
            margin-right: 25px;
            margin-bottom: 25px;
          }

          .legend-slider {
            display: flex;
            justify-content: center;
            width: auto;

            .legend-option {
              background-color: #E0DBBF;
              width: 12px;
              height: 12px;
              border-radius: 8px;
              margin-right: 10px;
            }

            .legend-option:hover,
            .legend-option:active {
              background-color: #FF4E42;
              width: 36px;
              height: 12px;
              border-radius: 8px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1415px) {
  div#main {
    .form-order {
      .form-options {
        flex-direction: column;
        margin: 30px;
        
        .carousel {
          margin: 0 auto;
          overflow: hidden;
          text-align: center;

          .options-slides {
            width: 800px;
            display: flex;
            overflow-x: scroll;
            scrollbar-width: none;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
          }
          
          .options-slides::-webkit-scrollbar {
            display: none;
          }
          
          .slides-item {
            align-items: center;
            border-radius: 10px;
            display: flex;
            flex-shrink: 0;
            font-size: 100px;
            position: relative;
            scroll-snap-align: start;
            transform: scale(1);
            transform-origin: center center;
            transition: transform .5s;
            width: auto;
            margin-right: 25px;
            margin-bottom: 25px;
          }

          .legend-slider {
            display: flex;
            justify-content: center;
            width: auto;

            .legend-option {
              background-color: #E0DBBF;
              width: 12px;
              height: 12px;
              border-radius: 8px;
              margin-right: 10px;
            }

            .legend-option:hover,
            .legend-option:active {
              background-color: #FF4E42;
              width: 36px;
              height: 12px;
              border-radius: 8px;
              margin-right: 10px;
            }
          }
        }
      }

      .form-options label {
        margin-bottom: 20px;
      }
    }
  }
}

@media (min-width: 1416px) {
  div#main {
    .form-order {
      .form-options {
        .carousel {
          .options-slides {
            display: flex;
            flex-direction: row;
          }

          .slides-item {
            margin-right: 25px;
          }

          .slides-item:last-child {
            margin-right: 0px;
          }
        }
      }

      .form-options label {
        margin-bottom: 20px;
      }
    }
  }
}