#result {
  display: flex;

  .response-order {
    background: url('../images/pattern-azul.png') repeat;
    width: 45%;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    .response-logo {
      padding: 30px;
    }

    #response-image-order {
      display: flex;
      justify-content: center;
      margin: 100px 0;

      img {
        width: auto;
        height: auto;
      }
    }

    .response-name-order {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      text-align: center;

      padding: 0 30px 30px;

      #response-name-order-your-order {
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;

        color: #FFFFFF;
      }

      #response-name-order-order {
        font-weight: 900;
        font-size: 32px;
        line-height: 48px;

        color: #FFC024;
      }
    }
  }

  .response-notice {
    width: 55%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    text-align: center;

    padding: 0 30px;

    .response-notice-icon {
      margin-bottom: 15px;
    }

    .response-notice-japanese-phrase {
      font-weight: 900;
      font-size: 20px;
      line-height: 24px;

      color: #FFC024;

      margin-bottom: 15px;
    }

    .response-notice-principal-phrase {
      font-weight: 900;
      font-size: 32px;
      line-height: 40px;

      color: #FF4E42;

      margin-bottom: 15px;
    }

    .response-notice-description-phrase {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      color: #000000;

      margin-bottom: 20px;
    }
  }
}

@media (max-width: 780px) {
  #result {
    display: flex;
    flex-direction: column;
    align-items: center;

    .response-order {
      width: 100%;
      align-items: center;

      #response-image-order {
        margin: 0 0 50px;
      }

      .response-name-order {
        padding: 0 30px 60px;
      }
    }

    .response-notice {
      width: 100%;

      padding: 80px 30px;
    }
  }
}
